// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h>

#define APSTUDIO_READONLY_SYMBOLS
#define IDC_STATIC              (-1)     // all static controls

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// Neutral (Default) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEUD)
#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU1 MENU 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New",                        ID_FILE_NEW
        MENUITEM "&Save\tCTRL+S",               ID_FILE_SAVE
        MENUITEM "Save &As...",                 ID_FILE_SAVE_AS
        MENUITEM "Save As Read-only...",        ID_FILE_SAVEREADONLY
        MENUITEM SEPARATOR
        MENUITEM "Import text...",              ID_FILE_IMPORT
        MENUITEM "Export text...",              ID_FILE_EXPORT
        MENUITEM SEPARATOR
        MENUITEM "Set or change &passphrase",   ID_FILE_SETKEY
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCTRL+Z",               ID_EDIT_UNDO
        MENUITEM "&Redo\tCTRL+SHIFT+Z",         ID_EDIT_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCTRL+X",                ID_EDIT_CUT
        MENUITEM "&Copy\tCTRL+C",               ID_EDIT_COPY
        MENUITEM "&Paste\tCTRL+V",              ID_EDIT_PASTE
        MENUITEM "De&lete\tDel",                ID_EDIT_DELETE
        MENUITEM SEPARATOR
        MENUITEM "&Find...\tCTRL+F",            ID_EDIT_FIND
        MENUITEM "Find &Next\tF3",              ID_EDIT_REPEAT
        MENUITEM SEPARATOR
        MENUITEM "Choose Font...",              ID_EDIT_FONT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About",                      ID_HELP_ABOUT
    END
END

IDR_REPOPUP MENU 
BEGIN
    POPUP "items"
    BEGIN
        MENUITEM "&Undo",                       ID_EDIT_UNDO
        MENUITEM "&Redo",                       ID_EDIT_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t",                        ID_EDIT_CUT
        MENUITEM "&Copy",                       ID_EDIT_COPY
        MENUITEM "&Paste",                      ID_EDIT_PASTE
        MENUITEM "&Delete",                     ID_EDIT_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Select &All",                 ID_EDIT_SELECT_ALL
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

DLG_PASSPHRASE2 DIALOGEX 0, 0, 268, 92
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "fSekrit: Enter passphrase"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_EDIT1,6,18,192,12,ES_PASSWORD | ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT2,6,48,192,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",BTN_OK,210,18,50,14
    PUSHBUTTON      "Cancel",BTN_CANCEL,210,48,50,14
    LTEXT           "Enter passphrase",IDC_STATIC,6,6,90,8
    LTEXT           "Repeat passphrase",IDC_STATIC,6,36,90,8
    LTEXT           "WARNING: do NOT forget this password; if you do your note will be unrecoverable by any means!",IDC_STATIC,9,69,249,21
END

DLG_PASSPHRASE1 DIALOGEX 0, 0, 208, 65
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "fSekrit: Please enter passphrase"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_EDIT1,6,30,192,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",BTN_OK,96,48,50,14
    PUSHBUTTON      "Cancel",BTN_CANCEL,150,48,50,14
    LTEXT           "This encrypted note file is protected by fSekrit.\nPlease enter the passphrase to decrypt it.",IDC_STATIC,6,6,192,18
END

DLG_ABOUT DIALOGEX 0, 0, 175, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "fSekrit::About"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,147,3,27,27
    ICON            IDI_ICON1,IDC_STATIC,150,36,20,20
    LTEXT           "fSekrit - an encrypted notepad by f0dder.\nCopyrighted freeware, see readme.txt and visit websites.",IDC_STATIC,3,3,138,27,SS_SUNKEN
    LTEXT           "http://fsekrit.donationcoder.com",IDC_LINK1,6,36,138,9
    LTEXT           "http://f0dder.reteam.org",IDC_LINK2,6,48,138,9
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO 
BEGIN
    DLG_PASSPHRASE2, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 261
        TOPMARGIN, 7
        BOTTOMMARGIN, 88
    END

    DLG_PASSPHRASE1, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 201
        TOPMARGIN, 7
        BOTTOMMARGIN, 60
    END

    DLG_ABOUT, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 168
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "..\\gfx\\appicon.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_ACCELERATOR1 ACCELERATORS 
BEGIN
    "F",            ID_EDIT_FIND,           VIRTKEY, CONTROL, NOINVERT
    VK_F3,          ID_EDIT_REPEAT,         VIRTKEY, NOINVERT
    "A",            ID_EDIT_SELECT_ALL,     VIRTKEY, CONTROL, NOINVERT
    "S",            ID_FILE_SAVE,           VIRTKEY, CONTROL, NOINVERT
    "Z",            ID_EDIT_REDO,           VIRTKEY, SHIFT, CONTROL, NOINVERT
END

#endif    // Neutral (Default) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// Danish resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_DAN)
#ifdef _WIN32
LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif //_WIN32

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // Danish resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

